@media screen and (min-width: 768px) {
    .row-columns {
      display: flex;
    }
    .row-columns .col-4 {
      flex: 1;
      border: 1em solid orange;
      padding: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    .row-columns {
      display: block;
    }
    .row-columns .col-4 {
      width: 100%;
      border: none;
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 767px) {
    footer {
      width: 100%;
    }
  }
  
  .swiper-container {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
  
  footer {
    background: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: auto !important;
    margin-top: 30px; /* Agrega un margen superior */
  }
  
  
  footer .container {
    padding: 0; /* Elimina el padding interno */
  }
  
  footer .row {
    margin: 0; /* Elimina el margen interno */
  }
  
  @font-face {
    font-family: 'Hello Lovely';
    src: url('../fonts/Hello-Lovely.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  h1 {
    text-align: center;
    font-family: 'Hello Lovely', cursive;
    font-size: 6em!important;
    color: red!important;
    border-radius: 1rem;
    padding: 2%;
  }
  
  h2 {
    font-family: 'Hello Lovely', cursive;
    font-size: 2em!important;
    color: rgb(255, 94, 0)!important;
    border-radius: 1rem;
    margin-top: 5%!important;
    text-align: center;
  }
  
  h3 {
    font-family: 'Hello Lovely', cursive;
    font-size: 2em!important;
    color: rgb(255, 94, 0)!important;
    padding: 2%;
  }
  
  .vip-img {
    display: block;
    margin: 0 auto;
    width: 100vw; /* Ancho del viewport */
    height: auto; /* Para mantener la proporción */
    max-height: 50vh; /* Reducir el tamaño en un 50% */
    margin: 0; /* Elimina cualquier margen */
  }
  
  .vip-logo {
    margin: 0 auto;
    width: 10%; /* Ocupar todo el ancho de la pantalla */
    height: auto; /* Para mantener la proporción */
    max-height: 50vh; /* Reducir el tamaño en un 50% */
  }
  
  .explosion {
    text-align: center;
    background-color: white;
    color: rgb(255, 94, 0);
  }
  
  /* Estilos generales */
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url("../img/01.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: auto; /* Ajusta la imagen de fondo para mantener su tamaño original */
  }
  
  
  
  /* Estilos para el menú hamburguesa */
  .menu-btn {
    display: none;
  }
  
  .menu-btn:checked ~ .menu {
    display: block;
  }
  
  .menu {
    display: none;
  }
  
  /* Estilos para el menú de navegación */
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  /* Estilos para el footer */
  footer {
    background: #f19832;
    color: #fff;
    padding: 0px;
    text-align: center;
    width: auto!important;
  }
  
  /* Estilos para el título */
  
  /* Estilos para las columnas de la sección Quiénes somos, Visión y Misión */
  .row-columns {
    display: flex;
  }
  
  .row-columns .col-4 {
    flex: 1;
    border: 0.4em solid rgb(255, 94, 0); /* Borde de 1em de ancho, color naranja fuerte */
    padding: 20px; /* Añadido para espacio interno */
  }
  
  .quienes {
    border: 0.01em solid rgb(255, 94, 0);
    
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2rem;
   margin-left: 15%;
   margin-right: 15%;
   padding-left: 5%;
   padding-right: 5%;
  }
  
  /* Estilos para el mapa de Google Maps */
  .map-container {
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
    margin-top: 20px; /* Espacio superior */
  }
  
  .pie {
    margin-top: 2%!important;
  }
  
  .header-bg {
    position: relative;
  }
  
  .header-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7; /* Ajusta la opacidad según necesites */
  }
  
  p {
    font-family: 'Comic Sans MS'!important;
    text-align: center;
  }
  
  .mapa {
    width: 100%;
    height: 300px!important;
    border: 0;
  }
  
  .onda {
    background-image: url("../img/ondas/01.jpeg");
    background-position: 0%;
    background-size: cover;
  }
  
  .onda2 {
    background-image: url("../img/ondas/02.jpeg");
    background-position: 0%;
    background-size: cover;
  }
  
  .onda3 {
    background-image: url("../img/ondas/03.jpeg");
    background-position: 0%;
    background-size: cover;
  }
  
  .onda4 {
    background-image: url("../img/ondas/04.png");
    background-position: 0%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  
  .espacio
  {
    height: 6rem;
  }

  .texto
  {
    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
    font-size: 14px!important;
    
  }

  .micro
  {
    padding-top: 4%;
    margin-bottom: 3%;
    
  }
  @media screen and (max-width: 767px) {
    .contact-info {
      margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    }
  }

  .section-background {
    position: relative;
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
  }
  
  .section-background img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier relleno */
  }
 